{{#Container onClick=onHandleCloseChatMenuClick ref="chatContainer" id="chat-container"}}
    <aside class="container direction-column chat-list-container">
        <div class="chat-list-header">
            {{#Button classNames="button-passive button-link" type="button" onClick=onHandleGoToProfileClick}}
                Профиль
                <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 9L5 5L1 1" stroke="currentColor"/>
                </svg>
            {{/Button}}
            <div class="search-input-container">
                {{{Input type="text" placeHolder="Поиск" id="search" autocomplete="off" required=false}}}
            </div>
        </div>
        {{{ChatsBlock  ref="chatsContainerRef"}}}
    </aside>
    <div class="current-chat-container direction-column">
        {{#if selectedChat}}
            {{{ChatHeaderMenuBlock ref="chatHeaderMenuRef"}}}
        {{/if}}
        {{{MessagesBlock ref="messagesContainerRef"}}}
        {{#if selectedChat}}
            {{{InputMessageBlock ref="inputMessageBlockRef" }}}
        {{/if}}
    </div>
{{/Container}}
