{{#Container onClick=onHandleCloseChatMenuClick ref="chatContainer" id="chat-container"}}
    <aside class="container direction-column chat-list-container">
        <div class="chat-list-header">
            {{#Button classNames="button-passive button-link" type="button" onClick=onHandleGoToProfileClick}}
                Профиль
                <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 9L5 5L1 1" stroke="currentColor"/>
                </svg>
            {{/Button}}
            <div class="search-input-container">
                {{{Input type="text" placeHolder="Поиск" id="search" autocomplete="off" required=false}}}
            </div>
            {{{ChatsBlock  ref="chatsContainerRef"}}}
        </div>
    </aside>
    <div class="current-chat-container direction-column">
        <section class="user-header-container">
            <div class="avatar-small"></div>
            <span class="user-name">
                Вадим
            </span>
            {{{ChangeUserListModal onHandleOpenChatMenuClick=onHandleOpenMenuClick
                                   onHandleChatMenuChoice=onHandleChatMenuChoice id="menu_user"
                                   ref="chatMenuModalContainerRef"}}}
        </section>
        {{{MessagesBlock ref="messagesContainerRef"}}}
        <div class="message-input-container">
            {{{AddChatContentModal onHandleOpenChatMenuClick=onHandleOpenMenuClick
                                   onHandleChatMenuChoice=onHandleChatMenuChoice id="chat_content"
                                   ref="chatAddContentModalContainerRef"}}}
            {{{Input type="text" placeHolder="Сообщение" id="message" autocomplete="off" required=false
                     ref="newMessageInputRef"}}}
            {{#Button classNames="chat-menu" type="button" onClick=onHandleAddNewMessageClick ref="sendButtonRef"}}
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="14" cy="14" r="14" fill="#3369F3"/>
                    <rect x="8" y="13.2" width="11" height="1.6" fill="white"/>
                    <path d="M15 9L19 14L15 19" stroke="white" stroke-width="1.6"/>
                </svg>
            {{/Button}}
        </div>

    </div>
{{/Container}}
