<input type="{{type}}"
       placeholder="{{placeHolder}}"
       name="{{id}}"
       id="{{id}}"
       autocomplete="{{autocomplete}}"
       required={{required}}
/>
<label for="{{id}}"></label>

