<div class="custom-input-group {{classNames}}">
    {{{Input type=type placeHolder="" id=id autocomplete='on' required="true" }}}
    <span class="bar"></span>
    <label for="{{id}}">{{placeholder}}</label>
    <p class="error-input">{{error.text}}</p>
</div>
