<div class="custom-input-group {{classNames}}">
    {{value}}
    {{{Input type=type placeHolder="" id=id autocomplete='on' required=true onblur=onBlur onfocus=onFocus}}}
    <span class="bar"></span>
    <label for="{{id}}">{{placeholder}}</label>
    {{{InputError error=error}}}
</div>
