<li class="{{classNames}}">
    <div>
        <div class="avatar-middle"></div>
    </div>
    <div class="user_container">
                    <span class="user_name">
                        {{name}}
                    </span>
        <span class="last_message">
            {{text}}
        </span>
    </div>
    <div class="information_message direction_column">
                    <span class="time">
                        {{time}}
                    </span>
        <div class="widget">
            {{newMessage}}
        </div>
    </div>
</li>
