<main class="container-center">
    {{#Form classNames='form-container'}}
        {{#Title class='title-large m-b-40'}}
            Изменить данные
        {{/Title}}
        <div>
            {{{InputGroup classNames='m-b-20' type='text' id='email' placeholder='Почта'
                          onBlur=onHandleBlur onFocus=onHandleFocus ref='InputGroupEmailRef' }}}
            {{{InputGroup classNames='m-b-20' type='text' id='login' placeholder='Логин'
                          onBlur=onHandleBlur onFocus=onHandleFocus ref='InputGroupLoginRef'}}}
            {{{InputGroup classNames='m-b-20' type='text' id='first_name' placeholder='Имя'
                          onBlur=onHandleBlur onFocus=onHandleFocus ref='InputGroupFirstNameRef'}}}
            {{{InputGroup classNames='m-b-20' type='text' id='second_name' placeholder='Фамилия'
                          onBlur=onHandleBlur onFocus=onHandleFocus ref='InputGroupSecondNameRef'}}}
            {{{InputGroup classNames='m-b-20' type='tel' id='phone' placeholder='Телефон'
                          onBlur=onHandleBlur onFocus=onHandleFocus ref='InputGroupPhoneRef'}}}
        </div>
        <div class="container-center direction-column m-t-40">
            {{#Button classNames='button-active m-b-20' type='submit' onClick=onHandleChangeProfileDataClick}}
                Сохранить
            {{/Button}}
            {{#Button classNames='button-passive' type='button' onClick=onHandleGoToProfileClick}}
                Отмена
            {{/Button}}
        </div>
    {{/Form}}
</main>

