<div class="{{classNames}}">
    <input type="{{type}}" required name="{{id}}" id="{{id}}">
    <span class="bar"></span>
    <label for="{{id}}">{{placeholder}}</label>
    <p class="error_input">{{error.text}}</p>
</div>
